In [2]:
import pandas as pd
import numpy as np
import plotly.express as pe

In [5]:
%ls

 Le volume dans le lecteur D s'appelle Data
 Le num�ro de s�rie du volume est EA5C-967D

 R�pertoire de d:\tools\winpython\WPy64-3741\notebooks\marjane_api

19/08/2022  18:13    <DIR>          .
19/08/2022  18:13    <DIR>          ..
18/08/2022  21:35            22�553 df_orders_MM_07_24_2022.parquet
19/08/2022  18:13               973 marjane_api_EDA.ipynb
18/08/2022  21:56            30�556 marjane_get_orders.ipynb
               3 fichier(s)           54�082 octets
               2 R�p(s)  63�045�804�032 octets libres

In [11]:
## read trx file

df = pd.read_parquet("./df_orders_MM_07_24_2022.parquet")

In [12]:
## convert data types

df['item_qty'] = pd.to_numeric(df['item_qty'])
df['item_price'] = pd.to_numeric(df['item_price'])
df['trx_total_price'] = pd.to_numeric(df['trx_total_price'])
df['trx_discount'] = pd.to_numeric(df['trx_discount'])
df['trx_date'] = pd.to_datetime(df['trx_date'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 536 entries, 0 to 3
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   item_qty         536 non-null    int64
 1   item_price       536 non-null    float64
 2   item_name        536 non-null    object
 3   item_id          501 non-null    object
 4   item_category    501 non-null    object
 5   trx_id           536 non-null    object
 6   trx_date         536 non-null    datetime64[ns]
 7   trx_total_price  536 non-null    float64
 8   trx_discount     536 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 41.9+ KB

In [13]:
df.head(5)

,item_qty,item_price,item_name,item_id,item_category,trx_id,trx_date,trx_total_price,trx_discount
0,1,19.95,FARFALLE BIOITALIA 500G,350061,PATES FECULENTS,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
1,1,9.38,MELON SOUIHLA AU KG,350154,FRUITS,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
2,1,15.98,BANANE AU KG,350154,FRUITS,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
3,1,5.01,CONCOMBRE COURT AU KG(10),350155,LEGUMES,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
4,1,4.53,BETTERAVE LE KG(8),350155,LEGUMES,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0

In [16]:
df.describe(percentiles=[0.05,0.1,0.25,0.5,0.75,0.9,0.95,0.99])

         item_qty  item_price  trx_total_price  trx_discount
count  536.000000  536.000000       536.000000    536.000000
mean     1.083955   22.190131       462.159627      0.023507
std      0.495252   41.750615       264.497099      0.143675
min      1.000000    0.900000         5.000000      0.000000
5%       1.000000    1.000000       136.500000      0.000000
10%      1.000000    2.000000       158.075000      0.000000
25%      1.000000    5.567500       264.060000      0.000000
50%      1.000000   14.950000       422.990000      0.000000
75%      1.000000   26.187500       545.520000      0.000000
90%      1.000000   39.075000       855.850000      0.000000
95%      1.000000   53.950000       855.850000      0.000000
99%      4.000000  169.085000      1170.050000      0.900000
max      5.000000  699.000000      1170.050000      0.900000

In [18]:
pd.set_option("plotting.backend", "plotly")

In [19]:
df['item_price'].plot(kind="hist", bins=20)

In [24]:
## look at expensive items

df.loc[df.item_price >= 100].head(10)

,item_qty,item_price,item_name,item_id,item_category,trx_id,trx_date,trx_total_price,trx_discount
5,1,179.90,DH 160/200 COTON BIO 57 FILS MASTIC MARJANE104870,986583,LINGE DE MAISON,9992206050015164648000802200676057,2022-06-05 19:46:48,1170.05,0.0
6,1,199.00,DP240/30057FILSTODAYMASTIC201612COTON,986583,LINGE DE MAISON,9992206050015164648000802200676057,2022-06-05 19:46:48,1170.05,0.0
15,1,399.00,TABLE A REPASSER ARES 136x92x43 REF 18367,350193,ART MENAG/RANG,9992206050015164648000802200676057,2022-06-05 19:46:48,1170.05,0.0
32,1,128.60,GLADE AUTO HOLD PEONY 269ML,350072,DROGUERIE,9992205220157125845000300150451014,2022-05-22 15:58:45,817.14,0.0
0,1,149.00,"SUPPORT TV FIXE 37"" - 70"" DTB-121EA MGS",4737980,ACCESSOIRES IMAGE ET SON,9992204150015195535000200210360092,2022-04-15 22:55:35,149.00,0.0
0,1,699.00,MIXEUR PLONGEANT DD655 1000W 3 ACCES MOULINEX,350217,PETIT ELECTRO,9992204040026210309002401490012834,2022-04-04 00:06:41,1147.00,0.0
1,1,249.00,PRESSE AGRUMES CP 3535 40 W 1 L SEVERIN,350217,PETIT ELECTRO,9992204040026210309002401490012834,2022-04-04 00:06:41,1147.00,0.0
2,1,199.00,MOULIN A CAFE MKM6003/TSM6A013B BOSCH,350217,PETIT ELECTRO,9992204040026210309002401490012834,2022-04-04 00:06:41,1147.00,0.0
5,1,119.95,FINISH ALL IN ONE MAX REGULAR X68 NIP38,350071,ENTRETIEN,9992204030157135543000200210379457,2022-04-03 16:55:43,382.52,0.0
0,1,139.00,ECOUTEUR DYNAMIQUE FIL MDR-EX15APBZE NOIR SONY,4737977,AUDIO HI FI,9992202090015150713000200500134583,2022-02-09 18:07:18,139.00,0.0

In [36]:
spend_by_category = df.groupby('item_category').agg({'item_price':[sum]}).reset_index()
spend_by_category.columns = ['item_category', 'category_spend']
spend_by_category.sort_values(by='category_spend', ascending=False, inplace=True)
spend_by_category.head(20)

                        item_category  category_spend
47                      PETIT ELECTRO         1147.00
23                          ENTRETIEN          757.90
31                            HYGIENE          695.25
12                   BOISSONS CHAUDES          595.90
4                      ART MENAG/RANG          493.60
16                         CAPILLAIRE          433.00
19         CONSERVES & PLATS CUISINES          411.60
40                    LINGE DE MAISON          378.90
21                          DROGUERIE          336.45
50                         POULET L.S          328.00
54                    STAND CHARCUTER          327.81
18                         CONFISERIE          287.25
9                              BEAUTE          286.35
55                     STAND CREMERIE          235.33
29  GRAINES, CHIPS&BISCUITS APERITIFS          235.05
48                     PETIT-DEJEUNER          230.45
58                 VIANDES & POISSONS          223.90
60                     YAOURT&DESSERT          209.55
36                     LEGUM&ACCOMPAG          209.45
25                            FROMAGE          199.30

In [37]:
spend_by_category['category_pct_total'] = spend_by_category['category_spend'] / spend_by_category['category_spend'].sum()
spend_by_category.head(10)

                 item_category  category_spend  category_pct_total
47               PETIT ELECTRO         1147.00            0.103448
23                   ENTRETIEN          757.90            0.068355
31                     HYGIENE          695.25            0.062705
12            BOISSONS CHAUDES          595.90            0.053744
4               ART MENAG/RANG          493.60            0.044518
16                  CAPILLAIRE          433.00            0.039052
19  CONSERVES & PLATS CUISINES          411.60            0.037122
40             LINGE DE MAISON          378.90            0.034173
21                   DROGUERIE          336.45            0.030344
50                  POULET L.S          328.00            0.029582

In [39]:
print(spend_by_category['category_spend'].sum())

## get unique trx, sum total price (sur 35 rows)

print(df['trx_total_price'].sum())

11087.720000000001
247717.55999999997

In [ ]:
## boxplot price / categorie