In [22]:
## step 1 - get transactions list

import requests
import json

url_orders = "https://api-ayaline.marjane.ma/customers/130577/tickets?mode=Marjane&sort[created_at]=desc"

payload={}
headers = {
    'accept': '*/*',
    'accept-encoding': 'gzip, deflate, br',
    'accept-language': 'fr,fr-FR;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6,ar;q=0.5',
    'authorization': 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXUyJ9.eyJ1c2VybmFtZSI6ImFwaV9tYXJqYW5lIiwidXNlclBob25lIjoiMjEyNjczNzA1NDU0IiwiZXhwIjoiMTY5MjMxNzg5NCIsInJvbGVzIjpbIlJPTEVfQVBQX01BUkpBTkUiXSwidmVyc2lvbiI6InYxLjIyLjM0IiwiaWF0IjoiMTY2MDc4MTg5NCIsImNvbnRleHQiOiJhcGkifQ.kXUoGD-_AMO2Xw_ipgDAVeNJl-s4tjj5IAdZxqmjOmx6FqP9-b54pXp73awQVZYSVaNmK3SMA1Gl6RIiuqDFyzzJi7xnV81K0Bt4VO9sC07x9cA3Q9DKjCDcAbw9Sq2R6QItIFanjNquJwPQnbhB8paL4qmzjIlRrGoXpaYGVG77tz2wJf3VM-o_TMxNY9tsh5508POeezaO1Y6mgmgKQ7F4NQ9y-jEogu_6o-l-EZr0Z-hVIxj4yhzQ1DR_6KXz1R0OxB5n8imxPD89L-ki_btbAs-Qhdplwv9uc8ln__3ZFkwdeNApVXEtb8hlUqvi_WW8TIw5p1ccqjyv3_ZsNL4z8u55PIhZkivEG2yvsxQ0hiSz55Mk1tmdvc-5SV3IZ39mIASJvpEZtSn18H2aNfOprGI_hXHO9KZEePqIkGKnh9HEjaf4j_kjhEGuJ4KL088nU9sTQOnloq8Cgxn2bx3fARX3mPuihjuTR8oAXbtuzoGH_eKAsNvA5c4w3w6yi0E1uoGZfpjX4w2vd13kxiwd2Jga11iLpf_C869MUDh4DrbiaC6Vi0uNUbNVPrfF5giMPKo_rqgbDggmh0ucYZ7QWWZjIQFPGxqxGhg9f4wIF3kMXKMQbQ7mbtfR16FW4tN58J3k-ZCmsJtOdLM7jucE2oJZjUjNZUbmUm99pBs',
    'content-type': 'application/json',
    'origin': 'https://www.marjane.ma',
    'referer': 'https://www.marjane.ma/',
    'sec-ch-ua': '" Not;A Brand";v="99", "Microsoft Edge";v="103", "Chromium";v="103"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.114 Safari/537.36 Edg/103.0.1264.62'
}

response_orders = requests.request("GET", url_orders, headers=headers, data=payload)

##print(response_orders.text)

In [128]:
import pandas as pd
import numpy as np

df_orders_list = pd.DataFrame.from_dict(response_orders.json())

## convert ticket to python list

orders_list = df_orders_list['ticket_key'].tolist()
print(f"number of orders : {len(orders_list)}")

number of orders : 35

In [123]:
df_orders_list.head(5)

,ticket_key,server,create,ticket_total_price,server_label
0,9992207240157184115000400230904355,157,2022-07-24 21:42:37,855.85,Marjane Market Oulfa
1,9992207090026162842000501410016527,26,2022-07-09 19:28:42,137.27,MARJANE MOROCCOMALL
2,9992207090157094256000400010804539,157,2022-07-09 12:43:50,280.73,Marjane Market Oulfa
3,9992206070026184128001301880968365,26,2022-06-07 21:41:54,141.25,MARJANE MOROCCOMALL
4,9992206050015164648000802200676057,15,2022-06-05 19:46:48,1170.05,MARJANE HAY HASSANI

In [153]:
## step 2 - loop over each order, to get item-level transaction info

def get_order_json(ticket_key, server):
    """
    param:
    ticket_key => code ticket caisse
    server => code magasin
    """
    url_detail = "https://api-ayaline.marjane.ma/customers/130577/tickets/"
    qry_url = url_detail + f"{server}/{ticket_key}"
    response = requests.request("GET", qry_url, headers=headers, data=payload)

    if response.status_code == 200:
        return response.json()
    else:
        print("error getting data :(" + str(response.status_code))

In [87]:
## get global trx info : date, montant, key

trx_meta = pd.json_normalize(json_trx, max_level=1)

## map fields based on first row 
trx_id = trx_meta['ticket.ticket_key'][0]
trx_date = trx_meta['ticket.create'][0]
trx_total_price = trx_meta['ticket_total_price'][0]
trx_discount = trx_meta['ticket_total_discount'][0]

trx_meta.head(5)

,array_of_item,array_of_payment_mean,array_of_counter,ticket_total,ticket_total_discount,ticket_total_price,ticket.ticket_key,ticket.create,ticket.card_key
0,"[{'quantity': '1', 'price': '19.950', 'name_it...","[{'data_1': 'CB AUTO', 'data_2': '855.85'}]","[{'quantity': 1, 'price': '5.000', 'data_1': '...",855.85,0,855.850,9992207240157184115000400230904355,2022-07-24 21:42:37,5201913433052

In [110]:
## flattend nest transaction detail

trx_detail = pd.json_normalize(json_trx, 'array_of_item',max_level=1)
## rename columns
trx_detail.columns = ['item_qty', 'item_price', 'item_name', 'item_id', 'item_category']
print(f"# of items in this transactions : {len(trx_detail)}")

# of items in this transactions : 45

In [117]:
## append trx meta info to item-level transaction data

import numpy as np

trx_detail['trx_id'] = ""
trx_detail['trx_id'] = trx_detail['trx_id'].str.replace("", trx_id)

trx_detail['trx_date'] = ""
trx_detail['trx_date'] = pd.to_datetime(trx_detail['trx_date'].str.replace("", trx_date))

trx_detail['trx_total_price'] = ""
trx_detail['trx_total_price'] = trx_detail['trx_total_price'].str.replace("", trx_total_price).astype(np.float)

trx_detail['trx_discount'] = ""
trx_detail['trx_discount'] = trx_detail['trx_discount'].str.replace("", str(trx_discount)).astype(np.float)

In [118]:
trx_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   item_qty         45 non-null     object
 1   item_price       45 non-null     object
 2   item_name        45 non-null     object
 3   item_id          44 non-null     object
 4   item_category    44 non-null     object
 5   trx_id           45 non-null     object
 6   trx_date         45 non-null     datetime64[ns]
 7   trx_total_price  45 non-null     float64
 8   trx_discount     45 non-null     float64
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 3.3+ KB

In [119]:
trx_detail.head(5)

,item_qty,item_price,item_name,item_id,item_category,trx_id,trx_date,trx_total_price,trx_discount
0,1,19.950,FARFALLE BIOITALIA 500G,350061,PATES FECULENTS,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
1,1,9.380,MELON SOUIHLA AU KG,350154,FRUITS,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
2,1,15.980,BANANE AU KG,350154,FRUITS,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
3,1,5.010,CONCOMBRE COURT AU KG(10),350155,LEGUMES,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
4,1,4.530,BETTERAVE LE KG(8),350155,LEGUMES,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0

In [132]:
## create dict for loop

orders_list = df_orders_list['ticket_key'].tolist()
servers_list = df_orders_list['server'].tolist()

orders_dict = dict(zip(orders_list, servers_list))
##print("Convert lists into dict",orders_dict)

In [155]:
len(orders_dict.items())

35

In [157]:
#### global Loop over orders dict ###
import time

i=1
order_detail_all = []

for order_key, order_server in orders_dict.items():
    print(f"DEBUG - processing order # {i}")
    ## one json for each order
    order_json = get_order_json(order_key, order_server)
    
    ## get order-level info
    trx_meta = pd.json_normalize(order_json, max_level=1)
    trx_id = trx_meta['ticket.ticket_key'][0]
    trx_date = trx_meta['ticket.create'][0]
    trx_total_price = trx_meta['ticket_total_price'][0]
    trx_discount = trx_meta['ticket_total_discount'][0]
    
    ## get item-level info
    ## flattend nest transaction detail

    trx_detail = pd.json_normalize(order_json, 'array_of_item', max_level=1)
    ## rename columns
    trx_detail.columns = ['item_qty', 'item_price', 'item_name', 'item_id', 'item_category']
    print(f"# of items in this transactions : {len(trx_detail)}")
    ## append order level info to item level info 
    
    trx_detail['trx_id'] = ""
    trx_detail['trx_id'] = trx_detail['trx_id'].str.replace("", trx_id)

    trx_detail['trx_date'] = ""
    trx_detail['trx_date'] = pd.to_datetime(trx_detail['trx_date'].str.replace("", trx_date))

    trx_detail['trx_total_price'] = ""
    trx_detail['trx_total_price'] = trx_detail['trx_total_price'].str.replace("", trx_total_price).astype(np.float)

    trx_detail['trx_discount'] = ""
    trx_detail['trx_discount'] = trx_detail['trx_discount'].str.replace("", str(trx_discount)).astype(np.float)

    trx_detail.head(5)

    order_detail_all.append(trx_detail)

    ## wait until next api call  
    
    time.sleep(3)

    i = i+1

print(f"DEBUG - Finished processing orders : {i} in total")

DEBUG - processing order # 1
# of items in this transactions : 45
DEBUG - processing order # 2
# of items in this transactions : 3
DEBUG - processing order # 3
# of items in this transactions : 20
DEBUG - processing order # 4
# of items in this transactions : 7
DEBUG - processing order # 5
# of items in this transactions : 21
DEBUG - processing order # 6
# of items in this transactions : 11
DEBUG - processing order # 7
# of items in this transactions : 38
DEBUG - processing order # 8
# of items in this transactions : 14
DEBUG - processing order # 9
# of items in this transactions : 23
DEBUG - processing order # 10
# of items in this transactions : 6
DEBUG - processing order # 11
# of items in this transactions : 8
DEBUG - processing order # 12
# of items in this transactions : 1
DEBUG - processing order # 13
# of items in this transactions : 14
DEBUG - processing order # 14
# of items in this transactions : 3
DEBUG - processing order # 15
# of items in this transactions : 17
DEBUG - processing order # 16
# of items in this transactions : 28
DEBUG - processing order # 17
# of items in this transactions : 17
DEBUG - processing order # 18
# of items in this transactions : 2
DEBUG - processing order # 19
# of items in this transactions : 1
DEBUG - processing order # 20
# of items in this transactions : 7
DEBUG - processing order # 21
# of items in this transactions : 20
DEBUG - processing order # 22
# of items in this transactions : 18
DEBUG - processing order # 23
# of items in this transactions : 10
DEBUG - processing order # 24
# of items in this transactions : 25
DEBUG - processing order # 25
# of items in this transactions : 17
DEBUG - processing order # 26
# of items in this transactions : 32
DEBUG - processing order # 27
# of items in this transactions : 27
DEBUG - processing order # 28
# of items in this transactions : 3
DEBUG - processing order # 29
# of items in this transactions : 9
DEBUG - processing order # 30
# of items in this transactions : 17
DEBUG - processing order # 31
# of items in this transactions : 8
DEBUG - processing order # 32
# of items in this transactions : 28
DEBUG - processing order # 33
# of items in this transactions : 31
DEBUG - processing order # 34
# of items in this transactions : 1
DEBUG - processing order # 35
# of items in this transactions : 4
DEBUG - Finished processing orders : 36 in total

In [158]:
len(order_detail_all)

35

In [161]:
## last concat + store parquet file

df_orders_final = pd.concat(order_detail_all)

In [162]:
df_orders_final.head(5)

,item_qty,item_price,item_name,item_id,item_category,trx_id,trx_date,trx_total_price,trx_discount
0,1,19.950,FARFALLE BIOITALIA 500G,350061,PATES FECULENTS,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
1,1,9.380,MELON SOUIHLA AU KG,350154,FRUITS,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
2,1,15.980,BANANE AU KG,350154,FRUITS,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
3,1,5.010,CONCOMBRE COURT AU KG(10),350155,LEGUMES,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0
4,1,4.530,BETTERAVE LE KG(8),350155,LEGUMES,9992207240157184115000400230904355,2022-07-24 21:42:37,855.85,0.0

'07_24_2022'

In [167]:
## store as parquet file 

## last date
import datetime

last_date = df_orders_final['trx_date'].dt.date.max()
last_date_str = last_date.strftime('%m_%d_%Y')

df_orders_final.to_parquet(f"./df_orders_MM_{last_date_str}.parquet")